@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif; 
    margin: 0.5rem 0.5rem;
}

:root{
    /* --primary-color:#34D399; */
    --primary-color:#2DD4BF;
    --secondary-color:purple;
}

hr{
    margin: 1rem 0rem;
}

.primary-link{
    background-color: var(--primary-color);
    color: white;
   
    border-radius: 5px;
}
.secondary-link{
    color: var(--secondary-color);
    border-radius: 1rem;
    border:5px solid var(--primary-color);
}
.link{
   text-decoration: none;
   padding: 0.5rem 0.8rem;
}

.list-inline-bullet{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation .nav-pills {
    /* display: block; */
   text-align: right;
   padding-right: 0.5rem;
}
.navigation{
    background-color: var(--primary-color);
    padding: 0.6rem 1rem;
}
.navigation .brand{
    font-weight: bolder;
}

.navigation a{
    text-decoration: none;
}
.navigation,.navigation a{
    color: white;
}
.navigation .active{
    font-weight: bold;
}

.container img{
    display: block;
    margin: auto;
    max-width: 400px;
}
.container h1{
    text-align: center;
}

.hero .heading{
  padding-top: 1rem;
}
.hero .heading span{
    color: var(--primary-color);
}
