@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif; 
    margin: 0.5rem 0.5rem;
    margin: auto;
   
}
.main{
    background:url('images/portfolio (2).jpg');
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-size: cover;
    height: 100vh;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index:-1 ;
    opacity: 0.6;
}


:root{
    /* --primary-color:#34D399; */
    --primary-color:#2DD4BF;
    --secondary-color:purple;
    --off-white:rgb(230, 225, 225);
}

hr{
    margin: 1rem 0rem;
}

.primary-link{
    background-color: var(--primary-color);
    color: white;
   
    border-radius: 5px;
}
.secondary-link{
    color: var(--secondary-color);
    border-radius: 1rem;
    border:5px solid var(--primary-color);
}
.link{
   text-decoration: none;
   padding: 0.5rem 0.8rem;
}

.list-inline-bullet{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation .nav-pills {
    /* display: block; */
   text-align: right;
   padding-right: 0.5rem;
}
.navigation{
    background-color: var(--primary-color);
    padding: 0.6rem 1rem;
    max-width: 650px;
    margin: auto;
}
.navigation .brand{
    font-weight: bolder;
}

.navigation a{
    text-decoration: none;
}
.navigation,.navigation a{
    color: white;
}
.navigation .active{
    font-weight: bold;
}
nav  .container-fluid img{
    max-width: 40px;
    max-height: 20px;
}
.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
.container img{
    display: block;
    margin: auto;
    max-width: 400px;
}

.container h1{
    text-align: center;
}

.hero .heading{
  padding-top: 1rem;
}
.hero .heading span{
    color: var(--primary-color);
}
.section h2{
    text-align: center;
}
.section.ow{
  background-color: var(--off-white);
}
.section{
    padding:1rem;
}
footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}